<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <meta name="description" content="I need help application">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/vendor/modernizr-2.6.2.min.js"></script>

  </head>
  <body>
    <div id="main">
        <div class="mainPreloader"></div>
    </div>

    <div id="fb-root"></div>

    <script type="text/html" id="main-tpl">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#"><%= title %></a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="navbar-form pull-right">
                  <input class="span2" type="text" placeholder="Email">
                  <input class="span2" type="password" placeholder="Password">
                  <button type="submit" class="btn">Sign in</button>
                </form>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        <div class="container" id="content">

          <!-- Main hero unit for a primary marketing message or call to action -->
          <div class="hero-unit">
            <h1><%= title %>!</h1>
            <p>This application was created for you to get help from people around you. Just ask for help and your friend on social
            networks or just people around you may offer you their hand.</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>

          <!-- Example row of columns -->
          <div class="row">

            <div class="span6">
              <h2>ASK FOR HELP!</h2>
              <p>Give someone your help. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-primary btn-large" href="javascript:;" onclick="iNeedHelp.router.navigate('#askHelp', {trigger: true})">ASK &raquo;</a></p>
           </div>

            <div class="span6">
              <h2>Watch!</h2>
              <p>Ask for help. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
              <p><a class="btn btn-primary btn-large" href="javascript:;" onclick="iNeedHelp.router.navigate('#gmap', {trigger: true})">Watch &raquo;</a></p>
            </div>
          </div>

          <hr>

          <footer>
            <p>&copy; Company 2012</p>
          </footer>

        </div> <!-- /container -->
    </script>

    <script type="text/html" id="gmap-tpl">
      <div class="container" > <!-- https://code.google.com/p/jquery-ui-map/ -->
        <div id="map_canvas"  style="width:1170px;height:500px" ></div>
        <script type="text/javascript">
         var globalGmap = $('#map_canvas').gmap({'center': '57.7973333,12.0502107', 'disableDefaultUI':true, 'callback': function() {
            var self = this;
             self.getCurrentPosition(function(position, status) {
               if ( status === 'OK' ) {
                  self.set('clientPosition', new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
                  // self.addMarker({'position': self.get('clientPosition'), 'bounds': true}).click(function() {
                  //    self.openInfoWindow({ 'content': 'YOU!' }, this);
                  //  });
                // self.addMarker({'position': '57.7973333,12.0502107', 'bounds': true});
               }
             });

          }});
          iNeedHelp.views['marker'] = new iNeedHelp.Views['marker'];
          iNeedHelp.views['marker'].render();
         </script>
      </div>

    </script>

    <script type="text/html" id="thankyYouForOffer-tpl">

    </script>

    <script type="text/html" id="askHelp-tpl">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#"><%= title %></a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="navbar-form pull-right">
                  <input class="span2" type="text" placeholder="Email">
                  <input class="span2" type="password" placeholder="Password">
                  <button type="submit" class="btn">Sign in</button>
                </form>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        <div class="container">

          <!-- Main hero unit for a primary marketing message or call to action -->
          <div class="hero-unit">
            <h1><%= title %>!</h1>
            <input id="askHelpMessage" type="text" name="message" />
            <button id="askHelp">SEND</button>
          </div>

          <div style="display:none" id="map_canvas"></div>

          <footer>
            <p>&copy; Company 2012</p>
          </footer>

        </div> <!-- /container -->
    </script>

    <script type="text/html" id="listenForOffer-tpl">

    </script>

    <script type="text/html" id="offerHelp-tpl">

    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    <script src="/javascripts/vendor/underscore.js"></script>
    <script src="/javascripts/vendor/backbone.js"></script>
    <script src="/javascripts/vendor/jquery.ui.map.js"></script>
    <script src="/javascripts/vendor/jquery.ui.map.extensions.js"></script>
    <script src="/javascripts/vendor/jquery.ui.map.overlays.js"></script>
    <script src="/nowjs/now.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/router.js"></script>
    <script src="/javascripts/models/models.js"></script>
    <script src="/javascripts/views/views.js"></script>

    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '368541193233171', // App ID from the App Dashboard
          channelUrl : '//localhost:3000/channel', // Channel File for x-domain communication
          status     : true, // check the login status upon init?
          cookie     : true, // set sessions cookies to allow your server to access the session?
          xfbml      : true  // parse XFBML tags on this page?
        });

        RetrieveFbUserInfo = function (response) {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
                console.log(response);
                console.log('Good to see you, ' + response.name + '.');
                iNeedHelp.settings.facebookID = response.id;

                iNeedHelp.setupNow(response);
            });



        };

        FbLogin = function () {
            FB.login(function(response) {
                if (response.authResponse) {
                    RetrieveFbUserInfo(response);
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            });
        };

        // Additional initialization code such as adding Event Listeners goes here
        FB.getLoginStatus(function(response) {
            console.log(response.status);
            if (response.status === 'connected') {
                // the user is logged in and has authenticated your
                // app, and response.authResponse supplies
                // the user's ID, a valid access token, a signed
                // request, and the time the access token
                // and signed request each expire
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;
                RetrieveFbUserInfo(response);
            } else if (response.status === 'not_authorized') {
                // the user is logged in to Facebook,
                // but has not authenticated your app
                FbLogin();
            } else {
                // the user isn't logged in to Facebook.
                FbLogin();
            }
        });
      };

      // Load the SDK's source Asynchronously
      (function(d, debug){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
         ref.parentNode.insertBefore(js, ref);
       }(document, /*debug*/ false));
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>